// bower:scss
// endbower

body {
    
    background-color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.container {
    width: 100%;
    background-image: url();
}

.angletable {
    list-style-type: none;
    cursor: pointer;
    height: 100px;
    width: 100px;
    display: block;
    margin-top: 60px;
    text-align: center;
    border: 3px solid blue;
    transform: rotate(45deg);
    position: relative;
    //bottom: 40px;
}


.angletable  h1 {
        color: white;
        font-size: 30px;
        text-align: center;
        line-height: 60px;
        transform: rotate(-45deg);
}

.bar {
    float: right;
    width: 200px;
    height: 600px;
    border: 3px solid blue;
    h1 {
        color: white;
        text-align: center;
        position: relative;
        top: 250px;
    }
}

.stool {
    color: white;
    list-style-type: none;
    height: 45px;
    width: 45px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    border: 3px solid blue;
    line-height: 45px;
    position: relative;
    right: 110px;
    bottom: 55px;
    border-radius: 100px;
  
}